*{
	padding:0px;
	margin: 0px;
	border: none;
}
body{
	background-color:rgba(255,253,225,1.00);
}
@font-face
{
font-family: '迷你简启体';
src: url('../font/迷你简启体.TTF') format("truetype");
}
#main {
	width:320px;
	height:480px;
	margin: 0px auto;
	background-color:rgba(255,253,225,1.00);
}
img {
	display:inline-block;
	width:120px;
	height:120px;
	text-align: right;
}
canvas{
	display:inline-block;
	text-align: left;
}
#main #word{
	padding-top:20px;
	text-align: center;
	font-family: "迷你简启体";
	font-size: 15px;
	width:300px;
	height:300px;
	margin: 0px auto;
	border: none;
	outline: none;
	background-color: rgba(255,253,225,1.00);
	text-align: center;
}
